
*{
	position: relative;
}

body {
	background-color: white;
}

h1 {
	color: black;
	font-family: Verdana;
	font-size: 500%;
	font-weight: bold;
	text-align: center;
	
}

#header {
	width: 75%;
	height: 5%;
	background-color: #E5E4E2;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 5px;
}

#main {
	background-color: #E5E4E2;
	width: 75%;
	height: 1000px;
	margin: auto;
	border-radius: 10px;
}

#NavBar {
	font-size: 210%;
	font-weight: bold;
	font-family: Verdana;
	
}

ul {
	list-style-type: none;
	text-align: center;
}

li {
	display: inline;
	border: 2px solid black;
	color: black;
	background-color: white;
	border-radius: 5px 5px;
	width: 15%;
	padding: 0.5%;
	
	
}

a:hover {
	text-decoration: none;
	color: #1FC2DB;
}

a:link {
	text-decoration: none;
	color: black;
}
	
