
body {
	background-color: white;
}

h1 {
	color: black;
	font-family: Verdana;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	
}

#header {
	width: 1500px;
	height: 50px;
	background-color: #E5E4E2;
	margin: auto;
	border-radius: 10px;
	margin-bottom: 5px;
	
}

#main {
	background-color: #E5E4E2;
	width: 1500px;
	height: 2000px;
	margin: auto;
	border-radius: 10px;
	
	
}
#NavBar {
	position: fixed;
	float: left;
	font-size: 20px;
	font-weight: bold;
	font-family: Verdana;
	margin-top: -30px;
	margin-left: -25px;
	
}

ul {
	position: relative;
	list-style-type: none;
	margin-top: 80px;
	text-align: center;
}

li {
	display: block;
	border: 2px solid black;
	color: black;
	background-color: #E5E4E2;
	border-radius: 5px 5px;
	width: 150px;
	padding: 10px;
	margin-top: 5px;
	
}



a.special:hover {
	text-decoration: none;
	color: #1FC2DB;
}

a.special:link {
	text-decoration: none;
	color: black;
}
	
	

